{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des jeux</h1>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Listejeux</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeux in jeuxes %}
            <tr>
                <td>{{ jeux.nom }}</td>
                <td>{{ jeux.listeJeux }}</td>
                <td>
                            <a href="{{ path('jeux_edit', { 'id': jeux.id }) }}"><button class="btn btn-default">Modifier</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a href="{{ path('jeux_new') }}"><button class="btn btn-default">Ajouter une ligne</button></a>

{% endblock %}
